@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Lexend+Mega&display=swap');

$border-gray: #a0a0a0;
$triadic-pink: #cc335e;
$triadic-gold: #ccb833;
$triadic-blue: #3388cc;

.cells {
  border-bottom: 2px solid $triadic-blue;
  border-left: 2px solid $triadic-blue;
  border-right: 2px solid $triadic-blue;
  border-top: 2px solid $triadic-blue;
  height: 20vmin;
  padding: 100px 0;
  width: 20vmin;
}

.lower-left {
  border-radius: 0 0 0 25px;
}

.lower-right {
  border-radius: 0 0 25px;
}

.upper-left {
  border-radius: 25px 0 0;
}

.upper-right {
  border-radius: 0 25px 0 0;
}

.hidden {
  display: none;
}

.messages {
  height: 40px;
}

.game-msg {
  font-size: 24px;
  text-align: center;
}

.title,
.cells,
.game-list,
.over-game-list,
.current-game-list {
  font-family: Lexend Mega;
  font-weight: bold;
  text-align: center;
}

.game-list,
.over-game-list,
.current-game-list {
  font-size: .8em;
}

.button {
  background: $triadic-gold;
  border-radius: 10px;
}

.container {
  background: $triadic-gold;
  border-radius: 25px;
}

.winning-cells {
  border: 2px solid $triadic-pink;
  border-radius: 4px;
}

body {
  background: linear-gradient(to right, $triadic-blue, #77aaff);
}
